<style type="text/css">
    body {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;-o-box-orient: vertical;-ms-box-orient: vertical;
    }

    .glyCon {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;
    }
</style>
<div class="w1000 glyCon" ng-controller="hysCtrl as hys">
    <div class="glyLeft">
        <a href="/tms/xt/zcr">会议主持人管理</a>
        <a href="/tms/xt/hys" class="glyCur">会议室管理</a>
        <a href="/tms/xt/gly">管理员密码修改</a>
        <a href="/tms/xt/rz">系统日志</a>
        <a href="/tms/xt/lj">存储路径</a>
    </div>
    <div ng-include="hys.template"></div>
    <script type="text/ng-template" id="listTemplate">
        <div class="glyRight">

            <div class="dhb-sch" style="margin-top:0">
                <form >
                    主持人：<input type="text" class="wbk1" ng-model="hys.filter.name"/>
                    IVR密码：<input type="text" class="wbk1" style="background-image: url(images/icon-pwd.png);" ng-model="hys.filter.ivr"/>
                    <input type="submit" value="搜索" class="btn-dhbs" ng-click="hys.getAllRooms('reload')"/>

                    <a href="" class="btn-xz" ng-click="hys.changeView('add',null)">新增会议室</a>
                </form>
            </div>
            <div style="clear: both;"></div>

            <table cellpadding="0" cellspacing="0" class="hysTB">

                <tr> <th>主持人</th> <th>IVR参会密码</th> <th>参会人数</th> <th colspan="2">是否录音</th> <th colspan="2">操作</th> </tr>

                <tr ng-repeat="room in hys.rooms">
                    <td ng-bind="room.conductorName"></td>
                    <td ng-bind="room.ivrPassword"></td>
                    <td ng-bind="room.maxParticipant"></td>
                    <td><a href="" ng-class="{cur:room.isRecordEnable===0}">是</a></td>
                    <td><a href="" ng-class="{cur:room.isRecordEnable===1}">否</a></td>
                    <td><a href="" ng-click="hys.changeView('update', room)"><img src="images/icon-edit.png"/></a></td>
                    <td><a href="" ng-click="hys.confirmOper('delete', room)"><img src="images/icon-del.png" /></a></td>
                </tr>

            </table>

            <div pagination page-object="pageObject"></div>

        </div>
    </script>

    <script type="text/ng-template" id="addTemplate">
        <div class="glyRight">

            <div style="margin:0 0 20px">新增会议室</div>

            <form name="addForm">
            <div class="xjLI">
                <span class="xjLI-l">主持人：</span><select> <option>A组</option> <option>B组</option> </select>
            </div>

            <div class="xjLI"><span class="xjLI-l">IVR参会密码：</span><input type="text" class="wbk2" style="background-image: url(images/icon-tel.png);" /></div>

            <div class="xjLI"><span class="xjLI-l">参会人数：</span><input type="text" class="wbk2" /></div>

            <div class="xjLI"><span class="xjLI-l">是否录音：</span><input type="radio" /> 是<input type="radio" style="margin-left: 35px" /> 否</div>

            <div><input type="submit" value="保存" class="btn-xj" ng-click="hys.addRoom(addForm.$valid)"/><a href="" class="btn-xj" style="margin-left: 20px" ng-click="hys.cancel()">取消</a></div>

            </form>
            <div style="clear:both"></div>

        </div>
    </script>

    <script type="text/ng-template" id="updateTemplate">
        <div class="glyRight">

            <div style="margin:0 0 20px">编辑会议室</div>

            <form name="updateForm">
                <div class="xjLI">
                    <span class="xjLI-l">主持人：</span><select> <option>A组</option> <option>B组</option> </select>
                </div>

                <div class="xjLI"><span class="xjLI-l">IVR参会密码：</span><input type="text" class="wbk2" style="background-image: url(images/icon-tel.png);" /></div>

                <div class="xjLI"><span class="xjLI-l">参会人数：</span><input type="text" class="wbk2" /></div>

                <div class="xjLI"><span class="xjLI-l">是否录音：</span><input type="radio" /> 是<input type="radio" style="margin-left: 35px" /> 否</div>

                <div><input type="submit" value="保存" class="btn-xj" ng-click="hys.updateRoom(updateForm.$valid)"/><a href="" class="btn-xj" style="margin-left: 20px" ng-click="hys.cancel()">取消</a></div>

            </form>
            <div style="clear:both"></div>

        </div>
    </script>

    <div class="modalbg" ng-show="ls.message.show">
        <div class="luyin">

            <span class="lyClose" ng-click="ls.hideMessage()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="ls.message.text"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="ls.hideMessage()"><img src="images/no.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="ls.hideMessage()"><img src="images/yes.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" ng-show="confirmDialogShow">
        <div class="luyin">
            <span class="lyClose" ng-click="cancelConfirm()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="confirmTips"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="cancelConfirm()"><img src="images/no.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="confirmCommit(confirmType)"><img src="images/yes.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" style="text-align: center;" ng-show="ls.loading">
        <img style="margin-top: 20%;" src="/images/loading.gif">
    </div>

</div>
