<style type="text/css">
    body {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;-o-box-orient: vertical;-ms-box-orient: vertical;
    }

    .glyCon {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;
    }
</style>
<div class="w1000 glyCon" ng-controller="hysCtrl as hys">

    <div class="glyLeft">
        <a href="/tms/xt/zcr">会议主持人管理</a>
        <a href="/tms/xt/hys" class="glyCur">会议室管理</a>
        <a href="/tms/xt/gly">管理员密码修改</a>
        <a href="/tms/xt/rz">系统日志</a>
        <a href="/tms/xt/lj">存储路径</a>
    </div>

    <div class="glyRight">

        <div class="dhb-sch">
            <form>
                主持人：<input type="text" class="wbk1" />
                IVR密码：<input type="password" class="wbk1" style="background-image: url(images/icon-pwd.png);" />
                <input type="submit" value="搜索" class="btn-dhbs" />

                <a href="" class="btn-xz">新增会议室</a>
            </form>
        </div>
        <div style="clear: both;"></div>

        <table cellpadding="0" cellspacing="0" class="hysTB">

            <tr> <th>主持人</th> <th>IVR参会密码</th> <th>参会人数</th> <th colspan="2">是否录音</th> <th colspan="2">操作</th> </tr>

            <tr>
                <td>张三</td>
                <td>5898</td>
                <td>50</td>
                <td><a href="">是</a></td>
                <td><a href="">否</a></td>
                <td><a href=""><img src="images/icon-edit.png" /></a></td>
                <td><a href=""><img src="images/icon-del.png" /></a></td>
            </tr>

            <tr>
                <td>张三</td>
                <td>5898</td>
                <td>50</td>
                <td><a href="">是</a></td>
                <td><a href="">否</a></td>
                <td><a href=""><img src="images/icon-edit.png" /></a></td>
                <td><a href=""><img src="images/icon-del.png" /></a></td>
            </tr>

        </table>

        <div class="fenye">
            <a href="" style="color:#3686dc; width:35px; border-radius: 4px 0 0 4px">首页</a>
            <a href="" style="color:#3686dc; width:45px;">上一页</a>
            <a href="" class="fyCur">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a><a href="">10</a>
            <a href="" style="color:#3686dc; width:45px;">下一页</a>
            <a href="" style="color:#3686dc; width:35px; border-radius: 0 4px 4px 0; border-right: solid 1px #ccc;">尾页</a>
        </div>

    </div>

</div>
