<style type="text/css">
    body {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;-o-box-orient: vertical;-ms-box-orient: vertical;
    }

    .glyCon {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;
    }
</style>
<div class="w1000 glyCon" ng-controller="hysCtrl as hys">
    <div class="glyLeft">
        <a href="/tms/xt/zcr">会议主持人管理</a>
        <a href="/tms/xt/hys" class="glyCur">会议室管理</a>
        <a href="/tms/xt/gly">管理员密码修改</a>
        <a href="/tms/xt/rz">系统日志</a>
        <a href="/tms/xt/lj">系统设置</a>
    </div>
    <div ng-include="hys.template"></div>
    <script type="text/ng-template" id="listTemplate">
        <div class="glyRight">

            <div class="dhb-sch" style="margin-top:0">
                <form >
                    主持人：<input type="text" class="wbk1" ng-model="hys.filter.name"/>
                    IVR密码：<input type="text" class="wbk1" style="background-image: url(images/icon-pwd.png);" ng-model="hys.filter.ivr"/>
                    <input type="submit" value="搜索" class="btn-dhbs" ng-click="hys.getAllRooms('reload')"/>

                    <a href="" class="btn-xz" ng-click="hys.changeView('add',null)">新增会议室</a>
                </form>
            </div>
            <div style="clear: both;"></div>

            <table cellpadding="0" cellspacing="0" class="hysTB">

                <tr> <th>主持人</th> <th>IVR参会密码</th> <th>参会人数</th> <th colspan="2">是否录音</th> <th colspan="2">操作</th> </tr>

                <tr ng-repeat="room in hys.rooms">
                    <td ng-bind="room.conductorName"></td>
                    <td ng-bind="room.ivrPassword"></td>
                    <td ng-bind="room.maxParticipant"></td>
                    <td><a href="" ng-class="{cur:room.isRecordEnable===1}">是</a></td>
                    <td><a href="" ng-class="{cur:room.isRecordEnable===0}">否</a></td>
                    <td><a href="" ng-click="hys.changeView('update', room)"><img src="images/icon-edit.png"/></a></td>
                    <td><a href="" ng-click="confirmOper('delete', room)"><img src="images/icon-del.png" /></a></td>
                </tr>

            </table>

            <div pagination page-object="pageObject"></div>

        </div>
    </script>

    <script type="text/ng-template" id="addTemplate">
        <div class="glyRight">

            <div style="margin:0 0 20px">新增会议室</div>

            <form name="addForm">
            <div class="xjLI">
                <span class="xjLI-l">主持人：</span><select name="conductor" ng-model="hys.conductor" ng-options="conductor as conductor.realname for conductor in hys.conductors" required><option value="">请选择</option></select>
                <i class="mgr-x-tips" ng-show="addForm.conductor.$error.required && hys.isNull">主持人不能为空</i>
            </div>

            <div class="xjLI"><span class="xjLI-l">IVR参会密码：</span><input type="text" class="wbk2" style="background-image: url(images/icon-tel.png);" name="ivrPassword" ng-model="hys.room.ivrPassword" ng-pattern="hys.ivrPattern"  required/>
                <i class="mgr-x-tips" ng-show="addForm.ivrPassword.$error.required && hys.isNull">IVR参会密码不能为空</i>
                <i class="mgr-x-tips" ng-show="addForm.ivrPassword.$error.pattern">4位数字字母的组合</i>
            </div>

            <div class="xjLI"><span class="xjLI-l">参会人数：</span><input type="text" class="wbk2" name="maxParticipant" ng-model="hys.room.maxParticipant" ng-pattern="hys.numberPattern" required maxlength="5"/>
                <i class="mgr-x-tips" ng-show="addForm.maxParticipant.$error.required && hys.isNull">参会人数不能为空</i>
                <i class="mgr-x-tips" ng-show="addForm.maxParticipant.$error.pattern">参会人数只能为正整数</i>
            </div>

            <div class="xjLI"><span class="xjLI-l">是否录音：</span><input type="radio" name="isRecordEnable" value="1" ng-model="hys.room.isRecordEnable" /> 是<input type="radio" style="margin-left: 35px" name="isRecordEnable" value="0" ng-model="hys.room.isRecordEnable" /> 否</div>

            <div><input type="submit" value="保存" class="btn-xj" ng-click="hys.addRoom(addForm.$valid)"/><a href="" class="btn-xj" style="margin-left: 20px" ng-click="hys.cancel()">取消</a></div>

            </form>
            <div style="clear:both"></div>

        </div>
    </script>

    <script type="text/ng-template" id="updateTemplate">
        <div class="glyRight">

            <div style="margin:0 0 20px">编辑会议室</div>

            <form name="updateForm">
                <div class="xjLI">
                    <span class="xjLI-l">主持人：</span><select name="conductor" ng-model="hys.conductor" ng-options="conductor as conductor.realname for conductor in hys.conductors" required><option value="">请选择</option></select>
                    <i class="mgr-x-tips" ng-show="updateForm.conductor.$error.required && hys.isNull">主持人不能为空</i>
                </div>

                <div class="xjLI"><span class="xjLI-l">IVR参会密码：</span><input type="text" class="wbk2" style="background-image: url(images/icon-tel.png);" name="ivrPassword" ng-model="hys.room.ivrPassword" ng-pattern="hys.ivrPattern"  required/>
                    <i class="mgr-x-tips" ng-show="updateForm.ivrPassword.$error.required && hys.isNull">IVR参会密码不能为空</i>
                    <i class="mgr-x-tips" ng-show="updateForm.ivrPassword.$error.pattern">4位数字字母的组合</i>
                </div>

                <div class="xjLI"><span class="xjLI-l">参会人数：</span><input type="text" class="wbk2" name="maxParticipant" ng-model="hys.room.maxParticipant" ng-pattern="hys.numberPattern" required maxlength="5"/>
                    <i class="mgr-x-tips" ng-show="updateForm.maxParticipant.$error.required && hys.isNull">参会人数不能为空</i>
                    <i class="mgr-x-tips" ng-show="updateForm.maxParticipant.$error.pattern">参会人数只能为正整数</i>
                </div>

                <div class="xjLI"><span class="xjLI-l">是否录音：</span><input type="radio" name="isRecordEnable" value="1" ng-model="hys.room.isRecordEnable" /> 是<input type="radio" style="margin-left: 35px" name="isRecordEnable" value="0" ng-model="hys.room.isRecordEnable" /> 否</div>

                <div><input type="submit" value="保存" class="btn-xj" ng-click="hys.updateRoom(updateForm.$valid)"/><a href="" class="btn-xj" style="margin-left: 20px" ng-click="hys.cancel()">取消</a></div>

            </form>
            <div style="clear:both"></div>

        </div>
    </script>

    <div class="modalbg" ng-show="hys.message.show">
        <div class="tishi">

            <span class="lyClose" ng-click="hys.hideMessage()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="hys.message.text"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="hys.hideMessage()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="hys.hideMessage()"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" ng-show="confirmDialogShow">
        <div class="tishi">
            <span class="lyClose" ng-click="cancelConfirm()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="confirmTips"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="cancelConfirm()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="confirmCommit(confirmType)"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" style="text-align: center;" ng-show="ls.loading">
        <img style="margin-top: 20%;" src="/images/loading.gif">
    </div>

</div>
