<style type="text/css">
    body {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;-o-box-orient: vertical;-ms-box-orient: vertical;
    }

    .glyCon {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;
    }
</style>
<div class="w1000 glyCon" ng-controller="ljCtrl as lj">

    <div class="glyLeft">
        <a ng-repeat="menu in menus.secondMenu" ng-href="{{menu.url}}" ng-class="{true:'glyCur',false:''}[menu.url==lj.url]" ng-bind="menu.name"></a>
    </div>

    <div class="glyRight">
        <form name="settingForm">
        <div class="zcchr">
            <span>文件存储路径：</span>
            <div class="zcchwbk" style="width:232px">
                <input type="text" name="recordingPath" ng-model="lj.setting.recordingPath" required/>
                <a href="" style="background-image: url(images/wjj.png); width:40px"></a>
            </div>

            <i class="mgr-x-tips" ng-show="settingForm.recordingPath.$error.required && lj.isNull">文件存储路径不能为空</i>
        </div>
        <div class="xjLI">voip：<input style="margin-left:55px" type="text" class="wbk3" name="hostname" ng-model="lj.setting.hostname" required />
            <i class="mgr-x-tips" ng-show="settingForm.hostname.$error.required && lj.isNull">voip不能为空</i>
        </div>
        <div class="xjLI">端口号：<input style="margin-left:40px;" type="text" class="wbk3" name="port" ng-model="lj.setting.port" ng-pattern="lj.portPattern" required/>
            <i class="mgr-x-tips" ng-show="settingForm.port.$error.required && lj.isNull">端口号不能为空</i>
            <i class="mgr-x-tips" ng-show="settingForm.port.$error.pattern">端口号只能为正整数</i>
        </div>
        </form>
        <input type="submit" value="修 改" class="btn-xg" ng-show="lj.setting.id" ng-click="lj.updateCurrentSetting(settingForm.$valid)"/>
        <input type="submit" value="新增" class="btn-xg" ng-show="!lj.setting.id" ng-click="lj.saveSetting(settingForm.$valid)"/>
    </div>

    <div class="modalbg" ng-show="lj.message.show">
        <div class="tishi">

            <span class="lyClose" ng-click="lj.hideMessage()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="lj.message.text"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="lj.hideMessage()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="lj.hideMessage()"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" ng-show="confirmDialogShow">
        <div class="tishi">
            <span class="lyClose" ng-click="cancelConfirm()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="confirmTips"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="cancelConfirm()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="confirmCommit(confirmType)"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" style="text-align: center;" ng-show="lj.loading">
        <img style="margin-top: 20%;" src="/images/loading.gif">
    </div>
</div>
