<style type="text/css">
    body {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-orient: vertical;-moz-box-orient: vertical;-o-box-orient: vertical;-ms-box-orient: vertical;
    }

    .glyCon {
        display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;
        -webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;-ms-box-flex:1;
    }
</style>
<div class="w1000 glyCon" ng-controller="rzCtrl as rz">

    <div class="glyLeft">
        <a href="/tms/xt/zcr">会议主持人管理</a>
        <a href="/tms/xt/hys">会议室管理</a>
        <a href="/tms/xt/gly">管理员密码修改</a>
        <a href="/tms/xt/rz" class="glyCur">系统日志</a>
        <a href="/tms/xt/lj">存储路径</a>
    </div>

    <div class="glyRight">

        <div class="dhb-sch" style="margin-top:0">
            <form>
                操作人：<input type="text" class="wbk1" ng-model="rz.logFilter.operator"/>
                资源类型：<select class="wbk1" ng-model="rz.logFilter.operResType" ng-options="type.id as type.name for type in rz.types">
                    <option value="">请选择</option>
                </select>
                <input type="submit" value="搜索" class="btn-dhbs" ng-click="rz.getLogs('reload')"/>
            </form>
        </div>
        <div style="clear: both;"></div>

        <table cellpadding="0" cellspacing="0" class="hysTB">

            <tr> <th>资源Id</th> <th>资源类型</th> <th>操作类型</th> <th>操作方法Id</th> <th>操作方法</th><th>操作结果</th> <th>操作人</th> <th>创建时间</th></tr>
            <tr ng-repeat="log in rz.logs">
                <td ng-bind="log.operResId"></td>
                <td ng-bind="log.operResType | operResType"></td>
                <td ng-bind="log.operType | operType"></td>
                <td ng-bind="log.operMethodId"></td>
                <td ng-bind="log.operMethodName"></td>
                <td ng-bind="log.operResult | operResult"></td>
                <td ng-bind="log.operator"></td>
                <td ng-bind="log.createDate | date:'yyyy-MM-dd HH:mm'"></td>
            </tr>
        </table>

        <div pagination page-object="pageObject"></div>

    </div>

    <div class="modalbg" style="text-align: center;" ng-show="rz.loading">
        <img style="margin-top: 20%;" src="/images/loading.gif">
    </div>
</div>
