<div class="w1000">

    <div class="dhb-top">
        <a href="" style="background: #3686dc">系统电话簿</a>
        <a href="">会议电话簿</a>
    </div>
    <div style="clear:both"></div>

    <div class="tjfz">
        <a href="" style="color:#3686dc"><img src="images/icon-tianjiaH.png" />添加</a>
        <a href=""><img src="images/icon-fenzu.png" />分组</a>
    </div>
    <div style="clear:both"></div>

    <div class="fenzu">
        <a href="">新建联系人</a><a href="">导入联系人</a><a href="">新建分组</a>
    </div>

    <div class="dhb-sch">
        <form>
            姓名：<input type="text" class="wbk1" />
            联系电话：<input type="text" class="wbk1" style="width:115px; background-image: url(images/icon-tel.png);background-position: 120px center" />
            <input type="submit" value="搜索" class="btn-dhbs" />
        </form>
    </div>
    <div style="clear:both"></div>

    <table cellspacing="0" cellpadding="0" class="dhbTB">

        <tr>
            <th>序号</th> <th>姓名</th> <th>联系电话</th> <th>组类</th> <th>修改</th> <th>删除</th>
        </tr>

        <tr>
            <td>001</td>
            <td>张三</td>
            <td>13525458542</td>
            <td>A类</td>
            <td><a href=""><img src="images/icon-edit.png" /></a></td>
            <td><a href=""><img src="images/icon-del.png" /></a></td>
        </tr>

        <tr>
            <td>001</td>
            <td>张三</td>
            <td>13525458542</td>
            <td>A类</td>
            <td><a href=""><img src="images/icon-edit.png" /></a></td>
            <td><a href=""><img src="images/icon-del.png" /></a></td>
        </tr>

        <tr>
            <td>001</td>
            <td>张三</td>
            <td>13525458542</td>
            <td>A类</td>
            <td><a href=""><img src="images/icon-edit.png" /></a></td>
            <td><a href=""><img src="images/icon-del.png" /></a></td>
        </tr>

        <tr>
            <td>001</td>
            <td>张三</td>
            <td>13525458542</td>
            <td>A类</td>
            <td><a href=""><img src="images/icon-edit.png" /></a></td>
            <td><a href=""><img src="images/icon-del.png" /></a></td>
        </tr>

        <tr>
            <td>001</td>
            <td>张三</td>
            <td>13525458542</td>
            <td>A类</td>
            <td><a href=""><img src="images/icon-edit.png" /></a></td>
            <td><a href=""><img src="images/icon-del.png" /></a></td>
        </tr>

    </table>

    <div class="fenye">
        <a href="" style="color:#3686dc; width:35px; border-radius: 4px 0 0 4px">首页</a>
        <a href="" style="color:#3686dc; width:45px;">上一页</a>
        <a href="" class="fyCur">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a><a href="">10</a>
        <a href="" style="color:#3686dc; width:45px;">下一页</a>
        <a href="" style="color:#3686dc; width:35px; border-radius: 0 4px 4px 0; border-right: solid 1px #ccc;">尾页</a>
    </div>

</div>