
<div class="w1000" style="margin-top:60px" ng-controller="hyCtrl as hy">

    <div class="hyt-left">

        <div class="zcchr">
            <span>主持人电话：</span>
            <div class="zcchwbk" style="background: #fff url(images/select.png) no-repeat right 10px center;">
                <input type="text" placeholder="手机号/固定电话" style="z-index: 2; position: relative;" />
                <select><option>11111</option><option>11111</option></select>
            </div>
        </div>

        <div class="zcchr">
            <span>参会人电话：</span>
            <div class="zcchwbk">
                <input type="text" placeholder="手机号/固定电话" />
                <a href=""></a>
            </div>
        </div>

        <img src="images/line.png" style="margin-left:35px" />

    </div>

    <div class="hyt-right">

        <div class="hyxx">
            <span>会议信息</span>
            <font>接入号：95130XXX&nbsp;&nbsp;&nbsp;&nbsp;参会密码：1234&nbsp;&nbsp;&nbsp;&nbsp;状态：空置</font>
        </div>

        <div class="hykz">
            <span>会议控制</span>
            <a href="">全部静音</a>
            <a href="" style="background-image: url(images/icon-hykz2.png);">会议录音</a>
            <a href="" style="background-image: url(images/icon-hykz3.png);">结束会议</a>
        </div>

        <img src="images/line.png" width="435" style="margin-left:80px"  />

    </div>
    <div style="clear:both"></div>

    <div class="hyb-left">

        <div class="hyblT">待入会参会人<font style="font-size:14px">（<font color="#3686dc">0</font>）</font></div>

        <div class="hyblCon">

            <div class="hyblH"> <li style="width:144px; border-right: solid 1px #fff">姓名</li> <li style="width:203px">联系电话</li> </div>

            <div class="drhchr">
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
                <li> <input type="checkbox" /> <span>张三</span> <font>13989795959</font> </li>
            </div>

            <div class="fenye2">
                <a href=""><img src="images/arrow-l.png" /></a>
                <a href="" style="color: #000">1</a> <a href="">2</a> <a href="">3</a> <a href="">4</a> <a href="">5</a>
                <a href=""><img src="images/arrow-r.png" /></a>
            </div>

            <a href="" class="btn-fqhy">发起会议</a>

        </div>

    </div>

    <div class="hyb-right">

        <div class="hyblT" style="float: left;">已参会人数<font style="font-size:14px">（<font color="#3686dc">0</font>）</font></div>

        <form><input type="text" class="schwbk" /><input type="submit" value="" class="btn-sch2" /></form>

        <a href="" class="btn-jy">静音</a>
        <a href="" class="btn-jy" style="background-image: url(images/icon-qxjy.png); background-position: 10px center; text-indent: 30px">取消静音</a>
        <a href="" class="btn-jy" style="background-image: url(images/icon-gd.png); background-position: 18px center; text-indent: 40px; margin-right: 0">挂断</a>
        <div style="clear: both"></div>

        <div class="hybrCon">

            <table cellpadding="0" cellspacing="0" class="hyTB">

                <tr style="background: #b5b5b5"> <th style="border-left: none;">姓名</th> <th>联系电话</th> <th>状态</th> <th>操作</th> </tr>

            </table>

            <div class="fenye" style="position: absolute; bottom:30px; width:100%">
                <a href="" style="color:#3686dc; width:35px; border-radius: 4px 0 0 4px">首页</a>
                <a href="" style="color:#3686dc; width:45px;">上一页</a>
                <a href="" class="fyCur">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a><a href="">10</a>
                <a href="" style="color:#3686dc; width:45px;">下一页</a>
                <a href="" style="color:#3686dc; width:35px; border-radius: 0 4px 4px 0; border-right: solid 1px #ccc;">尾页</a>
            </div>

        </div>

    </div>

</div>
