
<div class="w1000" style="margin-top:60px" ng-controller="hyCtrl as hy">

    <div class="hyt-left">

        <div class="zcchr">
            <span>主持人姓名：</span>
            <div class="zcchwbk" style="background: #fff url(images/select.png) no-repeat right 10px center;">
                <input type="text" ng-model="hy.conductor.realname" placeholder="主持人" style="z-index: 2; position: relative;"  readonly/>
                <select ng-model="hy.conductor" ng-options="conductor as conductor.realname for conductor in hy.conductors" ng-change="hy.selectConductor()" ng-disabled="loginUser.role!=1">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="zcchr">
            <span>参会人电话：</span>
            <div class="zcchwbk">
                <input type="text" placeholder="手机号/固定电话" ng-model="hy.phone"/>
                <a href="" ng-click="hy.addTempCall(hy.phone)"></a>
            </div>
        </div>

        <img src="images/line.png" style="margin-left:35px" />

    </div>

    <div class="hyt-right">

        <div class="hyxx">
            <span>会议信息</span>
            <font>接入号：95130196&nbsp;&nbsp;&nbsp;&nbsp;参会密码：<i ng-show="!hy.room.ivrPassword">未知</i><i ng-show="hy.room.ivrPassword" ng-bind="hy.room.ivrPassword"></i>&nbsp;&nbsp;&nbsp;&nbsp;状态：<img ng-show="!hy.conference.status" src="images/empty.png"><img ng-show="hy.conference.status" ng-bind="hy.conference.status | conferenceStatus" src="images/using.png"></font>
        </div>

        <div class="hykz">
            <span>会议控制</span>
            <!--<a href="">全部静音</a>-->
            <a href="" style="background-image: url(images/icon-hykz2.png);" ng-show="!hy.conference || hy.conference.isInRecording==0"  ng-click="hy.startRecord()">开始录音</a>
            <a href="" style="background-image: url(images/icon-jy2.png);" ng-show="hy.conference && hy.conference.isInRecording==1" ng-click="hy.endRecord()">停止录音</a>
            <a href="" style="background-image: url(images/icon-hykz3.png);" ng-click="confirmOper('end')">结束会议</a>
        </div>

        <img src="images/line.png" width="435" style="margin-left:80px"  />

    </div>
    <div style="clear:both"></div>

    <div class="hyb-left">

        <div class="hyblT">待入会参会人<font style="font-size:14px">（<font color="#3686dc" ng-bind="hy.totalContacts">0</font>）</font></div>

        <div class="hyblCon">

            <div class="hyblH" style="width:349px; background-color:#3686dc">
                <li style="width:40%; border-right: solid 1px #fff;">

                    <span>
                        <input type="checkbox" style="width:15px;height:15px;margin-left:15px" ng-model="hy.isAllChecked" ng-change="hy.checkAllContacts()"/>
                                            <span style="margin-right: 10px;margin-left: 13px;">姓名</span>

                    </span>


                </li>
                <!--<li style="width:25%; border-right: solid 1px #fff">姓名</li>-->
                <li style="width:30%; border-right: solid 1px #fff">联系电话</li> <li style="width: 30%">电话簿</li></div>

            <div class="drhchr">
                <li ng-repeat="contact in hy.contacts">
                    <span style="width:40%;text-align:center">
                        <input type="checkbox" style="margin-right:5px;" ng-model="contact.isChecked" ng-disabled="contact.isDisable" ng-change="hy.selectContact(contact)"/> <span style="width:50px;" ng-bind="contact.name"></span>
                    </span>
                    <span style="width:30%;text-align:center">
                        <font ng-bind="contact.phone"></font>
                    </span>
                    <span style="width: 30%;text-align:center">
                        <font ng-if="contact.bookId==1">系统</font>
                        <font ng-if="contact.bookId>1">会议室</font>
                    </span>
                </li>
            </div>

            <div class="fenye2">
                <a href=""><img src="images/arrow-l.png" ng-click="hy.changePage('prev')"/></a>
                <a href="" ng-repeat="page in contactPageObject.pages" ng-bind="page" ng-click="selectPage(page)" ng-class="{cur3:page==contactPageObject.currentPage}" ng-show="page>upLimit && page<downLimit"></a>
                <a href=""><img src="images/arrow-r.png" ng-click="hy.changePage('next')"/></a>
            </div>

            <a href="" class="btn-fqhy" ng-show="!hy.conference" ng-click="hy.confirmAdd()">发起会议</a>
            <a href="" class="btn-fqhy" ng-show="hy.conference.resId" ng-click="hy.addCall(hy.checkedContacts)">新增参会</a>
        </div>

    </div>

    <div class="hyb-right">

        <div class="hyblT" style="float: left;">总参会人数<font style="font-size:14px">（<font color="#3686dc" ng-bind="hy.onlineMembers"></font>/<font color="#3686dc" ng-bind="hy.totalMembers"></font>）</font></div>

        <form><input type="text" class="schwbk" placeholder="联系电话" ng-model="hy.conferenceFilter.phone"/><input type="submit" value="" class="btn-sch2" ng-click="hy.getMembers('reload')"/></form>

        <!--<a href="" class="btn-jy">静音</a>
        <a href="" class="btn-jy" style="background-image: url(images/icon-qxjy.png); background-position: 10px center; text-indent: 30px">取消静音</a>
        <a href="" class="btn-jy" style="background-image: url(images/icon-gd.png); background-position: 18px center; text-indent: 40px; margin-right: 0">挂断</a>-->
        <div style="clear: both"></div>

        <div class="hybrCon">

            <table cellpadding="0" cellspacing="0" class="hyTB">

                <tr style="background: #3686dc"> <th style="border-left: none;">姓名</th><th>电话</th><th>方向</th><th>状态</th><th>收放模式</th><th>操作</th> </tr>
                <tr  ng-repeat="member in hy.members">
                    <td ng-bind="member.name"></td>
                    <td ng-bind="member.phone"></td>
                    <td ng-bind="member.derection | direction"></td>
                    <td ng-bind="member.status | status" ng-if="member.status==3" ng-style="{color: gray;}"></td>
                    <td ng-bind="member.status | status" ng-if="member.status!=3" ng-style="{color: rgb(0, 0, 0);}"></td>
                    <td ng-bind="member.voiceMode | voiceMode"></td>
                    <td>
                        <!-- 与会者禁音 1 放音+收音 3 放音 -->
                        <a href="" ng-show="member.voiceMode==1 || member.voiceMode==3" ng-click="hy.changeVoiceMode(member)"><img src="images/close_voice.png" style="width: 26px"/></a>
                        <!-- 与会者 2收音-->
                        <a href=""  ng-show="member.voiceMode==2" ng-click="hy.changeVoiceMode(member)"><img src="images/open_voice.png" style="width: 26px"/></a>
                        <!-- 移出与会者 -->
                        <a href="" ng-click="hy.removeCall(member)"><img src="images/exit2.png"/></a>
                        <!-- 重新呼叫 -->
                        <a href="" ng-click="hy.addCall([member])"><img src="images/tel2.png"/></a>
                    </td>
                </tr>
            </table>

            <div pagination page-object="conferencePageObject"></div>

        </div>

    </div>

    <div class="modalbg" ng-show="hy.message.show">
        <div class="tishi">

            <span class="lyClose" ng-click="hy.hideMessage()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="hy.message.text"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="hy.hideMessage()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="hy.hideMessage()"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>
    <div class="modalbg" ng-show="hy.showRecord">
        <div class="luyin">

            <span class="lyClose" ng-click="hy.selectRecord('no')"></span>
            <div style="clear: both;"></div>

            <div class="lyCen">是否对此次会议进行录音？</div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="hy.selectRecord('no')"><img src="images/no.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="hy.selectRecord('yes')"><img src="images/yes.png" /></a>
            </div>

        </div>
    </div>
    <div class="modalbg" ng-show="confirmDialogShow">
        <div class="tishi">
            <span class="lyClose" ng-click="cancelConfirm()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen"  ng-bind="confirmTips"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="cancelConfirm()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="confirmCommit(confirmType)"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" style="text-align: center;" ng-show="hy.loading">
        <img style="margin-top: 20%;" src="/images/loading.gif">
    </div>

    <!--<audio src="../audio/come_in_warn.wav" id="media"></audio>-->
</div>
