<div class="lgCon" style="background: #1d76b3 url(../images/bg.jpg) no-repeat center top; background-size: 100% 100%; overflow: hidden; height:100% ">

    <div class="lgCon2">

        <form>
            <div class="inpCon"><input type="text" placeholder="请输入用户名" /></div>
            <div class="inpCon" style="background-image: url(../images/key.png);"><input type="password" placeholder="请输入密码" /></div>
            <a href="" class="btn-exit">退出</a> <input type="submit" value="立即登录" class="btn-login" />
        </form>

    </div>

</div>