
<div class="w1000" style="margin-top:60px" ng-controller="lyCtrl as ly">
    
    <!--<div class="lytLI">-->
        <!--<span>文件名：</span>-->

        <!--<div class="wbk3">-->
            <!--<input type="text" ng-model="ly.filter.filename">-->
            <!--<a href="" style="background-image: url(images/wjm.png);"></a>-->
        <!--</div>-->

    <!--</div>-->

    <div class="lytLI">
        <span>主持人：</span>

        <div class="wbk3">
            <input type="text" ng-model="ly.filter.conductorName">
            <a href="" style="background-image: url(images/wjm.png);"></a>
        </div>

    </div>

    <div class="lytLI">

        <span>创建开始时间：</span>

        <div class="wbk3">
            <input type="text"  id="createStart" ng-model="ly.filter.createStart"/>
            <a href=""></a>
        </div>

    </div>

    <div class="lytLI">

        <span>创建结束时间：</span>

        <div class="wbk3">
            <input type="text" id="createEnd" ng-model="ly.filter.createEnd" ng-init="ly.initDatePicker()"/>
            <a href=""></a>
        </div>

    </div>

    <input type="submit" value="搜索" class="btn-dhbs" ng-click="ly.getRecordings('reload')"/>
    <div style="clear: both;"></div>

    <table cellpadding="0" cellspacing="0" class="lyTB">

        <tr> <th>文件名</th><th>主持人</th><th>所属会议室</th> <th>起始时间</th> <th>结束时间</th> <th>总时长</th> <th colspan="2">操作</th> </tr>

        <tr ng-repeat="record in ly.recordings">
            <td ng-bind="record.filename"></td>
            <td ng-bind="record.conductorName"></td>
            <td ng-bind="record.roomNo"></td>
            <td ng-bind="record.startTime | date:'yyyy-MM-dd HH:mm'"></td>
            <td ng-bind="record.endTime | date:'yyyy-MM-dd HH:mm'"></td>
            <td>{{((record.endTime - record.startTime) / (60*1000))|number:0}}分</td>
            <td><a href="" ng-click="ly.download(record)"><img src="images/icon-xiaz.png" /></a></td>
            <td><a href="" ng-click="confirmOper('delete', record)"><img src="images/icon-del.png" /></a></td>
        </tr>
    </table>

    <div pagination page-object="pageObject"></div>

    <div class="modalbg" ng-show="dhb.message.show">
        <div class="tishi">

            <span class="lyClose" ng-click="ly.hideMessage()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="ly.message.text"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="ly.hideMessage()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="ly.hideMessage()"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" ng-show="confirmDialogShow">
        <div class="tishi">
            <span class="lyClose" ng-click="cancelConfirm()"></span>
            <div style="clear: both;"></div>

            <div class="lyCen" ng-bind="confirmTips"></div>

            <div class="lyBtn">
                <a href="" style="margin-left:135px;" ng-click="cancelConfirm()"><img src="images/qx.png" /></a>
                <a href="" style="margin-left:8px;" ng-click="confirmCommit(confirmType)"><img src="images/qr.png" /></a>
            </div>

        </div>
    </div>

    <div class="modalbg" style="text-align: center;" ng-show="ly.loading">
        <img style="margin-top: 20%;" src="/images/loading.gif">
    </div>
</div>
