
<!--<div class="w1000" style="margin-top:60px" ng-controller="notFoundCtrl as nfc">-->

    <!--<h1>Not Found</h1>-->
<!--</div>-->
<!--<!doctype html>-->
<!--<html>-->


<!--<body class="bgs" >-->
<!--<head>-->
    <!--<style>-->
            <!--</style>-->
    <!--<meta charset="utf-8">-->
    <!--<title>无标题文档</title>-->
<!--</head>-->
<div ng-controller="notFoundCtrl as nfc">
    <div class="error">
        <img src="../images/error.png">
    </div>
    <div class="error-r">
        <h2 style="padding:0">很抱歉</h2>
        <h4 style="margin:0;padding:0">暂时未能找到您查找的界面<br>可能输入的网址错误或页面不存在</h4>
        <a href="/tms">
            返回首页
        </a>
    </div>
</div>

<!--</body>-->
<!--</html>-->